.Hat a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.Hat a:visited {
  color: #8B008B;
  background-color: transparent;
  text-decoration: none;
}
.Hat a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.Hat a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


.rock table, th, td {
    border: 1px solid black;
    text-align:center;
}

.rock table {
    border-spacing: 10px;
    background-color:#ffffff;
}
.rock tr{    
    background-color:#00FA9A;
}

.stone{
    background-color:#000000;
    color:#ffffff;
    text-align:center;
    padding:2px;
}
